<a href="https://colab.research.google.com/github/santfan/variables/blob/main/module_1_5_goole.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Создадим кортежи разными способами
immutable = 1, 2, 57, 'Leonid', ['python', 'java']
immutable_1 = (1, 2, 57, 'Leonid', ['python', 'java'])
# Преобразование
num = ['раз', 2]
immutable_2 = tuple(num)
# Выведем на экран
print(immutable, type(immutable))
print(immutable_1, type(immutable_1))
print(immutable_2, type(immutable_2))

(1, 2, 57, 'Leonid', ['python', 'java']) <class 'tuple'>
(1, 2, 57, 'Leonid', ['python', 'java']) <class 'tuple'>
('раз', 2) <class 'tuple'>

In [12]:
# Попробуем изменить элемент кортежа
# Обратимся к элементу кортежа с индеком 2 и изменим его
immutable[2] = 300  # было значение 57
# выведем изменный кортеж
print(immutable)

TypeError: 'tuple' object does not support item assignment

In [13]:
# Выведет ошибку 'tuple' object does not support item assignment короче нельзя
# но если элемент кортежа сам по себе изменяем то
# например элемент с индесом 4 сам по себе список - изменяем. Попробуем
immutable[4][1] = 'Cи' # Было 'Java'
# Вывод на экран
print(immutable)

(1, 2, 57, 'Leonid', ['python', 'Cи'])

In [14]:
# Зменения произошли
# Теперь со списком создадим
mutable = ['три', 5, 24]
# Преобразование
string = 'три', 5, 24
mutable_1 = list(string)
# Вывод на экран
print(mutable, type(mutable))
print(mutable_1, type(mutable_1))

['три', 5, 24] <class 'list'>
['три', 5, 24] <class 'list'>

In [15]:
# изменения списков возможна
mutable[2] = 17 # Было 24
# Вывод на экран
print(mutable, type(mutable))

['три', 5, 17] <class 'list'>